<%= stylesheet_link_tag 'homepage' %>
<%= stylesheet_link_tag 'homepage' %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AgileCli</title>
    <meta name="author" content="Andrew Berendeev">
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top background-header">
      <a class="navbar-brand" href="/">AgileCli</a>
    </nav>
  </header>
  <main role="main">
    <hr class="featurette-divider">
    <hr class="featurette-divider">
<div class="background-color-image" align='center'>
  <img src="a.png" alt="" width="100%" >
</div>
      <div align='center'>
        <% @projects.each do |proj| %>
        <p><%= proj.name %>- ТЫ ПИДОР -<%= proj.description  %></p><br>
        <% end %>
        <button class='btn btn-secondary' type="button" name="button"><%= link_to "log out", logout_path %></button>
      </div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-bot bg-dark-footer">
    <footer class="container">
      <p class="navbar-brand">AgileCli &copy; 2019 Rubizza &middot; <a href="https://github.com/rubizza-camp/AgileCli/blob/master/LICENSE" style='text-decoration:none; color: white;'>Terms</a></p>
      <p class="float-right"><a class="btn btn-secondary" href="#" role="button" >Back to top</a></p>
    </footer>
    </nav>

  </main>
  </body>
</html>
