<!DOCTYPE html>
<html>
  <head>
    <title>AgileCli</title>
    <link rel="icon" type="image/png" href="agile.png" sizes="32x32">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="font-family: 'Futura'">
    <%= yield %>
  </body>
</html>
